.linear-gradient {
    border-radius: 0px;
    border: 1px solid rgba(125, 125, 124, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    filter: drop-shadow(20px 20px 50px rgb(255, 26, 1));
}
.linear-gradientt{
    filter: drop-shadow(4px 2px 3px rgba(255, 255, 255, 0.423));
}